{% extends 'admins/base.html' %}
{% load static %}

{% block content %}
    <main>
    <div class="container-fluid">
        <h1 class="mt-4">Создание продукта</h1>
        <form action="">
            <div class="form-row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="small mb-1" for="inputFirstName">Название</label>
                        <input class="form-control py-4" id="inputFirstName" type="text" />
                    </div>
                </div>
            </div>
            <div class="form-row mb-2">
                <div class="col-lg-12">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="userAvatar" size="50">
                        <label class="custom-file-label" for="userAvatar">Выберите изображение</label>
                    </div>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-lg-6">
                    <label class="small mb-1" for="inputUsername">Цена (руб.)</label>
                    <input class="form-control py-4" id="inputUsername" type="text"
                        aria-describedby="usernameHelp" />
                </div>
                <div class="col-lg-6">
                    <label class="small mb-1" for="inputEmailAddress">Количество (шт.)</label>
                    <input class="form-control py-4" id="inputEmailAddress" type="email"
                        aria-describedby="emailHelp" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-12">
                    <select class="form-control form-control-lg" id="Categoryname">
                        <option value selected disabled>Выберите категорию</option>
                        <option value="Одежда">Одежда</option>
                        <option value="Новинки">Новинки</option>
                        <option value="Обувь">Обувь</option>
                        <option value="Подарки">Подарки</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-12" style="margin-top: 33px;">
                    <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}